.divTotal {
    
   margin: 0;

    
  }
.ContainerTotal {
    align-items: center;
   background-color: #1c525317;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    border-radius: 0.500em;
  }
  .FundoGrafico {
  display: flex;  
  flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  .Box-select {
    flex-direction: column;
     display: flex;
     align-items: center;
     justify-content: center;
    }
  .disciplina-grafico {
    padding: 1em;

   
   }
   .box-user {
   
    font-family: 'Poppins', sans-serif;
    padding: 1em;
    justify-content: center;
    align-items: center;
   border: none;
   
  
  }
  .nome-user {
   text-align: center;
    
  }
   .box-grafico-geral {
  
    padding: 1em;

   
   }
   .Select-Desempenho {
    width: 50%; /* Defina a largura desejada aqui */
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .Select-Desempenho { 
      width: 90%; /* Defina a largura desejada aqui */
      justify-content: center;
      align-items: center;
        
    }
  }
  .disciplinaSelecionada {
    margin-top: 3em;
   font-weight: 500;
   font-size: 0.825em;
   text-align: center;
   font-family: Poppins;
    justify-content: center;
    align-items: center;
  }
  .p-desempenho-geral {
    font-weight: 600;
    font-size: 0.875em;
    text-align: center;
    font-family: Poppins;
     justify-content: center;
     align-items: center;
   }
  .acertos {
    font-weight: 500;
    font-size: 0.865em;
    text-align: center;
    font-family: Poppins;
     justify-content: center;
     align-items: center;
   }
 