.divTotal {
    
   
    
  }
.ContainerTotal {
    align-items: center;
   background-color: #56a5a73a;
    justify-content: center;
    display: flex; 
    flex-direction: column;
  }
  .FundoGrafico {
  display: flex;  
  flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  .Box-select {
    flex-direction: column;
     display: flex;
     align-items: center;
     justify-content: center;
    }
  .disciplina-grafico {
    padding: 1em;

   
   }
   .Select-Desempenho {
    width: 50%; /* Defina a largura desejada aqui */
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .Select-Desempenho { 
      width: 90%; /* Defina a largura desejada aqui */
      justify-content: center;
      align-items: center;
        
    }
  }
  .disciplinaSelecionada {
   font-weight: 500;
   font-size: 0.825em;
   text-align: center;
   font-family: Poppins;
    justify-content: center;
    align-items: center;
  }
  .acertos {
    font-weight: 400;
    font-size: 0.800em;
    text-align: center;
    font-family: Poppins;
     justify-content: center;
     align-items: center;
   }
 