/* App container */
.fundo-Home {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
  }
  .div-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  .Home {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    padding: 0;
    
   
  }
  @media (max-width: 767px) {
    .fundo-Home {
      padding: 1em;
      width: 100%;
      display: flex;
      justify-content: center;
      
      
    }
  }
  .subscription-option{

   flex-direction: column;

   justify-content: center;
   border: '2px solid #ccc',
  
  }
/* Estilos para a tabela de planos de assinatura */
.subscription-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  flex-direction: column;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}

.subscription-table th,
.subscription-table td {
  padding: 5px;
  text-align: left;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.subscription-table th {
  background-color: #f2f2f2;
  flex-direction: column;
}

/* Estilo para os botões de assinatura */
.button-pagamento {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button-pagamento:hover {
  background-color: #0056b3;
}

/* Estilo para o botão Fechar */
.close-button {
  background-color: #ccc;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #999;
}
  

  .login {
    flex-direction: column;
    border-radius: 0.300em;
    flex-wrap: wrap; /* Quebra de linha */
    text-align: center;
    margin: 0em;
    padding: 1em;
    
    background: radial-gradient(circle, #203f41, #0d1616 ); /* Substitua as cores conforme necessário */
  }
  
.login p {
 text-align: center;
  font-weight: 400;
  font-size: 0.800em;
  color: white;
  padding-left: 0.500em;
  padding-right: 0.500em;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap; /* Quebra de linha */
}

.login-button {
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border: 2px solid transparent;
  text-align: center;
  padding: 0.500em 3em;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.700em;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease, color 0.3s ease, border-image 0.3s ease;
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
  border-image: linear-gradient(90deg, #ffffff 0%, rgb(212, 212, 212) 100%);
  border-image-slice: 1;
}


.login-button:hover {
  background: linear-gradient(90deg,  #203f41, #0d1616);
  color: white;
  border-radius: 4px;
}



.logout-button-container {
 
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.logout-button {
  color: #14493c;
  font-family: 'Poppins', sans-serif;
 border: none;
 font-weight: 500;
 background: transparent;
  cursor: pointer;
  margin: 0 0.500em;

}

.logout-button:hover {
  color: #ff6600;
}


  
  
  .enunciado {
    font-size: 0.875em; /* 14 px de font */
    font-weight: 400;
    font-family: Poppins;
    margin-top: 1.5em;
    white-space: pre-line; /* Adiciona quebras de linha */
    justify-content: flex-start;
    padding: 0.300em;
  }
  

  .alternativa {
    cursor: pointer;
    padding-left: 1em; /* Adiciona espaço para a letra */
    border-radius: 5px;
    margin: 15px;
    font-size: 0.865em;
    font-weight: 400;
  }
  .icon-container {
    border: 1px solid  #1c52537a; /* Altere a largura e a cor da borda conforme necessário */
    border-radius: 50%; /* Use 50% para fazer um círculo perfeito */
    padding: 0.3em; /* Ajuste o valor de acordo com o tamanho desejado */
    display: inline-flex; /* Use inline-flex para alinhar o conteúdo vertical e horizontalmente */
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }
  .icon-container:hover {
    background-color: #1c52537a; /* Altere a cor da borda no hover */
  
  }
  
  .letra-alternativa-circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    line-height: 22px;
    font-weight: bold;
    margin-right: 5px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .letra-alternativa-circle:hover {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .letra-alternativa-circle.selecionada {
    background-color: black;
    color: white;
  }
  ul {
    list-style-type: none; /* Remove o ponto preto das listas não ordenadas */
    padding-left: 0; /* Remove o recuo padrão das listas não ordenadas */
  }
   
  .button-responder {
    background-color: #1c5253;
    color: white;
    border: none;
    padding: 0.450em 1em;
    cursor: pointer;
    margin-top: 20px;
    font-family: Poppins;
    border-radius: 5px;
    font-size: 0.900em;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
  }
  
  .button-responder:hover {
    background-color: #137979;
  }
  .feedback {
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
  }
  .resposta-correta {
    color: #1c5253; /* Cor verde para acerto */
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  .resposta-incorreta {
    color: #ff0000; /* Cor verde para acerto */
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .button-feedback-container {
    display: flex; /* Exibe os elementos em uma linha horizontal */
     /* Espaça os elementos igualmente na linha */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    margin-bottom: 2em;
   
  }
  
  .linha-horizontal-comentario {
    border-top: 2px solid #1c52533a;
    margin-bottom: 0px;
  }
  
  .button-comentario {
    color:#1c5253;
    flex-direction: row;
    border: none;
    margin-right: 1em;
    margin-left: 0;
    justify-content: flex-start;
    background-color: #1c525309;
    padding: 0.500em;
    font-size: 14px;
    font-family: Poppins;
   
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;
  }
  @media screen and (max-width: 767px) {
    .button-comentario {
      color: #1c5253;
    border: none;
    margin-right: 1em;
    background-color: #1c525309;
    padding: 0.500em;
    font-size: 14px;
    font-family: Poppins;
   
    flex-direction: row;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;
     
    }
  }



  
  .button-comentario:hover {
    background-color: #1c5253;
    color:#ffffff;
  }

  .campo-comentario {
    margin-bottom: 1em;
    align-items: center;
    background-color: #1c525313;
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 767px) {
    .campo-comentario {
    
      flex-direction: row;
      background-color: #1c525313;
      display: flex;  
      white-space: pre-line; /* Adiciona quebras de linha */ 
      border-bottom-left-radius: 0; /* Remova o raio da borda inferior para um visual mais limpo em dispositivos móveis */
    }
  }
  
 
  
  .campo-estatistica {
   
    padding: 0;
    
  }
 
  .button-estatisticas {
    color: #1c5253;
    border: none;
    margin: 0px;
    background-color: #1c525309;
    padding: 0.500em;
    font-size: 14px;
    font-family: Poppins;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;
    text-decoration: none; 
    
  }



  @media screen and (max-width: 767px) {
    .button-estatisticas {
      color: #1c5253;
      border: none;
      margin: 0px;
      background-color: #1c525309;
      padding: 0.500em;
      font-size: 14px;
      font-family: Poppins;
      
      flex-direction: row;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      font-weight: 500;
     
    }
  }
  .button-estatisticas:hover {
    background-color: #1c5253;
    color:#ffffff;
  }

  .MensagemAsssine {

    color: #14493c;
    font-family: Poppins;
  
    border-radius: 8px;
    text-align: left;
    font-size: 0.900em;
    display: flex;
    
   
  }
  
  .comentarios {
    display: none;
    margin-top: 3em;
    background-color: #ffffff;
    font-family: Poppins;
     align-items: center;
    border-radius: 8px;
    font-size: 0.865em;
    line-height: 1.4;
    white-space: pre-line; /* Adiciona quebras de linha */ 
  }
  @media (max-width: 767px) {
    .comentarios  {
    display: none;
    align-items: center;
    background-color: #ffffff;
    font-family: Poppins;
    border-radius: 8px;
    font-size: 0.850em;
    line-height: 1.4;
    white-space: pre-line; /* Adiciona quebras de linha */ 
    }
  }
     
  .comentario {
    display: none;
    padding: 1em;
    margin-top: 3em;
    background-color: #ffffff;
    font-family: Poppins;
     align-items: center;
    border-radius: 8px;
    font-size: 0.865em;
    line-height: 1.4;
    white-space: pre-line; /* Adiciona quebras de linha */ 
  }

  @media (max-width: 767px) {
    .comentario  {
    display: none;
    align-items: center;
    background-color: #ffffff;
    font-family: Poppins;
    border-radius: 8px;
    font-size: 0.850em;
    line-height: 1.4;
    white-space: pre-line; /* Adiciona quebras de linha */ 
    }
  }
  
  .comentario.visivel {
    display: block;
   
    white-space: pre-line; /* Adiciona quebras de linha */
  }
  
  .comentario::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    white-space: pre-line; /* Adiciona quebras de linha */
   
  }
  

  .campo-pai {
  
    flex-direction: column;
   
  }

  .campo-questao {
  
  width: 100%;
   
  }
  .botao-comentario.ativo {
  color: #45a049; /* Tonalidade mais escura do verde */
  white-space: pre-line; /* Adiciona quebras de linha */
}




 
  .Questao p {
    font-size: 25px;
    margin: 5px 0;
  }
  
  .Questao ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .Questao ul li {
    font-size: 18px;
    margin-left: 20px;
  }
  
  /* Pagination */
  .pagination {
    display: flex;
  
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  
  .pagination button {
    background-color:  #1c5253;
    color: #fff;
    border: none;
    padding: 0.600em;
    font-family: Poppins;
    font-weight: 400;
    font-size: 0.750em;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-family: Poppins;
    font-size: 0.850em;
    font-weight: 400;
    margin: 0 10px;
  }
  
  .cabecalho-disciplina {
    display: flex;
    flex-direction: row; /* Disposição horizontal */
    flex-wrap: wrap; /* Quebra de linha */
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    margin-top: 2em;
    margin-bottom: 0.100em;
    width: 100%;
    background-color: #1c5253;
    font-weight: 400;
    border-radius: 5px;
    
  }
  
  
  .cabecalho-disciplina p {
    margin-right: 10px; /* Adiciona espaçamento de 5px entre os textos */
    margin-left: 10px;
    color: white; 
    align-items: center;
    justify-content: center;
    width: 100%;

    
   
  }
  .cabecalho-orgao {
    display: flex;
    align-items: flex-start;
    font-size: 0.800em; /*12px font */
    font-weight: 500;
    width: 100%;
    position: relative; /* Adicione essa propriedade para controlar a posição da linha */
  }
 

 /* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Estilos para os botões */
.open-button2 {
  color: #14493c;
 font-family: 'Poppins', sans-serif;
 border: none;
 font-weight: 500;
 background: transparent;
cursor: pointer;
}
.open-button {
  color: #14493c;
  font-family: 'Poppins', sans-serif;
 border: none;
 font-weight: 500;
 margin: 0 0.400em;
 background: transparent;
  cursor: pointer;
}
.open-button:hover {
  color: #ff6600;
}
.nome-user {
  color: #14493c;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875em;
  font-weight: 500;
  justify-content: center;
  align-items: center;
 border: none;
 font-weight: 500;
 margin: 0 0.500em;
 text-decoration: none;


  cursor: pointer;
}
.nome-user:hover {
  color: #ff6600;
}

/* Estilos para o container dos elementos Stripe */
.stripe-container {
  display: flex;
  flex-direction: column; /* Alinhar verticalmente os elementos */
  align-items: center; /* Centralizar os elementos horizontalmente */
}

/* Estilos para os botões de pagamento dentro do container */
.button-pagamento {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}


  @media (max-width: 767px) {
    .cabecalho-orgao {
        font-size: 0.80em;
        display: flex;
        flex-direction: row; /* Disposição horizontal */
        flex-wrap: wrap; /* Quebra de linha */
        align-items: start;
       
    }
}
@media (max-width: 767px) {
  .cabecalho-orgao p {
      font-size: 0.850em;
      display: flex;
      flex-direction: row; /* Disposição horizontal */
      flex-wrap: wrap; /* Quebra de linha */
      align-items: start;
      margin-bottom: 0em; /* Ajuste o valor conforme necessário */
      line-height: 1.2; /* Ajuste o valor conforme necessário */
  }
}

.cabecalho-orgao p {
  color:#1c5253;
}
.nome-home {
  
  color: #1c5253;
  font-size: 1.5em;
  text-align: center;
}

 
  .cabecalho-orgao::after {
    content: ''; /* Cria o elemento da linha */
    position: absolute;
    left: 0;
    bottom: -1px; /* Posiciona a linha abaixo do texto */
    width: 100%; /* Define a largura da linha */
    height: 2px; /* Define a espessura da linha */
    background-color: #1c525331; /* Cor da linha cinza */
  }
  
  @media (max-width: 767px) {
    .cabecalho-orgao::after {
      content: ''; /* Cria o elemento da linha */
      position: absolute;
      left: 0;
      bottom: -10px; /* Posiciona a linha abaixo do texto */
      width: 100%; /* Define a largura da linha */
      height: 2px; /* Define a espessura da linha */
      background-color: #1c525331; /* Cor da linha cinza */
    }
  }


/*Comentários*/
.comment-input {
  width: 500px;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Poppins;
}

.comment-input-container {
  display: flex;
  flex-direction: column;
}

.add-button {
  background-color:  #1c5253;
  color: #fff;
  border: none;
  padding: 0.600em;
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.750em;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  width: 180px;
  margin-bottom: 12px;
}

.add-button:hover {
  background-color: #0056b3;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment {
  border: 1px solid #ccc;
  margin-bottom: 10px;
 
  background-color: #fff;
  
  margin-top: 1.5em;
  border-radius: 7px;
  box-shadow: 4px 2px #a3bcbc;
  overflow: auto;
 
}

.comment-content {
  display: flex;
  padding-right: 1em;
  
  flex-direction: column;
}

.comment-username {
  font-weight: bold;
}

.comment-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}

.comment-time {
  margin-top: 5px;
  font-size: 12px;
  color: #777;
}

.delete-button {
  background-color: #ff6b6b; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  cursor: pointer; 
  border-radius: 4px;
  width: 100px; 
}

.delete-button:hover {
  background-color: #ff4444; 
}






/* Só MENU ABAIXO:*/
/* Menu.css */
.menu {
  background-color: white;
  padding: 1.5em;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adicionado para alinhar o botão de hambúrguer à direita */
}

.menu-toggle {
  display: block; /* Mostra o botão de hambúrguer em todas as telas */
  cursor: pointer;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* Alterado para uma coluna em telas pequenas */
  align-items: center; /* Centraliza os itens em telas pequenas */
}

.menu-item {
  margin: 0 1em;
  text-align: center; /* Centraliza o texto em telas pequenas */
}

.menu-item a {
  text-decoration: none;
  color: #14493c;
  font-weight: 500;
  font-size: 0.865em;
  transition: color 0.3s ease;
}

.menu-item a:hover {
  color: #ff6600;
}

/* Adicione uma media query para telas pequenas (por exemplo, até 768px) */
@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column; /* Alterado para uma coluna em telas pequenas */
    align-items: flex-start; /* Alinha o conteúdo à esquerda em telas pequenas */
  }

  .menu-list {
    flex-direction: row; /* Alterado para uma linha em telas pequenas */
    justify-content: center; /* Centraliza os itens em telas pequenas */
  }

  .menu-item {
    margin: 0 1em; /* Volta ao espaçamento horizontal entre os itens em telas maiores */
    text-align: left; /* Alinha o texto à esquerda em telas pequenas */
  }

  .menu-toggle {
    display: block; /* Mostra o botão de hambúrguer em telas pequenas */
  }
}

.mobile-menu-icon {
  display: none; /* Oculta o ícone do menu em telas maiores */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

@media (max-width: 768px) {
  /* Mostra o ícone do menu em telas menores */
  .mobile-menu-icon {
    display: block;
  }

  /* Oculta o menu principal em telas menores */
  .menu {
    display: none;
  }

  /* Mostra o menu de sobreposição em telas menores */
  .menu.mobile-open {
    display: block;
  }
}




.riscado {
  text-decoration: line-through;
  opacity: 0.5;
}



/* Estilos para o contêiner do rodapé */
.Rodapé {
  background: radial-gradient(circle, #203f41, #203f41, #203f41, #0d1616 );
  color: #fff; /* Cor do texto do rodapé */
  padding-top: 5em; /* Espaçamento interno do rodapé */
  padding-bottom: 2em; /* Espaçamento interno do rodapé */
  text-align: center; /* Alinhamento de texto centralizado */
  margin-top: 3em;
 
}

/* Estilos para as caixas do rodapé */
.Box-Rodapé {
  display: inline-block; /* Coloca as caixas lado a lado */
  margin-right: 5em; /* Espaçamento entre as caixas */
 
 
}

.Box-Rodapé1 {
 justify-content: center;
  align-items: center;
  
}
.Texto-Rodapé1 {
  margin: 0.500em 0; /* Espaçamento vertical entre os links */
  text-align: center;
  margin-top: 5em;
  font-size: 0.865em;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: inherit;
}

/* Estilos para o texto do rodapé */
.Texto-Rodapé {
  margin: 0.500em 0; /* Espaçamento vertical entre os links */
  text-align: start;
  font-size: 0.865em;
  font-weight: 300;
  color: white;
  text-decoration: none;
  
}
