.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 4em;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    justify-content: flex-start;
    
  }
  @media (max-width: 768px) {
    .filter-container {
      display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 1em;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    justify-content: flex-start;
    }
  }
  
  @media (max-width: 768px) {
    .div-filter {
      width: 100%; /* Cada objeto ocupa a largura total */
      margin-bottom: 0.100em; /* Espaçamento entre as colunas */
      display: flex;
      flex-direction: center;
    }
  }
  .div-filter {
    width: 25em; /* Largura padrão para cada filtro */
    margin-right: 0.100em; /* Espaçamento entre os filtros */
    display: flex;
    flex-direction: column;
   
    
  }
  .filtro-button {
    
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
  }
  
  
  
  .filter-label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px; /* Tamanho de fonte responsivo em pixels */
  }
  
  .select {
    
    color: black;
    
  }
  .filter-select {
    width: 100%;
    padding: 5px;
    font-size: 0.865em;
    border-radius: 5px;
    color: black;
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posição da seta à direita */
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s;
  }
  .filter-select:focus {
    border-color: #267c7e;
    outline: none; /* Remove a borda padrão do foco */
  }
  .filter-select:active,
  .filter-select.open {
    border-color: #267c7e;
    background-color: #f2f2f2;
  }
  
  .filter-button {
    padding: 10px;
    flex-direction: column;
    background-color: #1C5253;
    color: white;
    border: none;
    margin-left: 7px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Tamanho de fonte responsivo em pixels */
  }
  .div-button {
   
    flex-direction: column;
    
  }
  
  .filter-button:hover {
    background-color: #267c7e;
  }
  
  .clear-button {
    padding: 10px;
    background-color: #ff2833;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Tamanho de fonte responsivo em pixels */
  }
  
  .clear-button:hover {
    background-color: rgb(179, 0, 45);
  }