/* Estilos para telas pequenas (celulares) */
.menu-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Mostra o botão apenas em telas pequenas */
  }
  
  .menu-list {
    background-color: white;
    color: black;
    display: none; /* Esconde a lista em telas pequenas */
    position: absolute;
    font-weight: 500;
    font-family: Poppins;
    top: 100%; /* Posiciona a lista abaixo do botão */
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 200px; /* Define a largura mínima do menu dropdown */
  }
  
  .menu.open .menu-list {
    display: block; /* Mostra a lista quando o menu está aberto */
  }
  
  /* Estilos para telas grandes */
  @media (min-width: 768px) {
    .menu {
      background-color: white;
      color: black;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .menu-button {
      display: none; /* Esconde o botão em telas grandes */
    }
  
    .menu-list {
      list-style: none;
      display: flex;
      gap: 20px;
      position: absolute;
    
      box-shadow: none; /* Remove a sombra do menu dropdown */
      min-width: auto; /* Remove a largura mínima do menu dropdown */
    }
  
    .menu-list li {
      padding: 10px;
    }
  
    .menu-list a {
      text-decoration: none;
      color: black;
      transition: color 0.3s ease;
    }
  
    .menu-list a:hover {
      color: #007bff;
    }
  }
  