/* Arquivo: Menu.css */

/* Estilos para o fundo do navbar */
.bg-body-tertiary {
    background-color: #f8f9fa; /* Substitua pela cor desejada */
  }
  
  /* Estilos para os links do navbar */
  .nav-link-custom {
    color: #343a40; /* Cor do texto */
    font-weight: bold;
    transition: color 0.3s; /* Efeito de transição suave para a cor */
  }
  
  .nav-link-custom:hover {
    color: #007bff; /* Cor do texto ao passar o mouse */
  }
  
  /* Estilos para os itens do dropdown */
  .dropdown-item-custom {
    color: #343a40; /* Cor do texto */
    transition: background-color 0.3s; /* Efeito de transição suave para o fundo */
  }
  
  .dropdown-item-custom:hover {
    background-color: #f8f9fa; /* Cor de fundo ao passar o mouse */
  }
  