.filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 0.700em;
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
  
}


@media (max-width: 768px) {
  .filter-group {
    width: 100%; /* Cada objeto ocupa a largura total */
    margin-bottom: 10px; /* Espaçamento entre as colunas */
    display: flex;
    flex-direction: column;
  }
}
.filter-group {
  width: 22em; /* Largura padrão para cada filtro */
  margin-right: 10px; /* Espaçamento entre os filtros */
  display: flex;
  flex-direction: column;
 
  
}



.filter-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px; /* Tamanho de fonte responsivo em pixels */
}

.select {
  
  color: black;
  
}
.custom-select {
  width: 100%;
  padding: 5px;
  font-size: 0.865em;
  border-radius: 5px;
  color: black;
  background-repeat: no-repeat;
  background-position: right 10px center; /* Posição da seta à direita */
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
}
.custom-select:focus {
  border-color: #267c7e;
  outline: none; /* Remove a borda padrão do foco */
}
.custom-select:active,
.custom-select.open {
  border-color: #267c7e;
  background-color: #f2f2f2;
}

.apply-button {
  padding: 10px;
  background-color: #267c7e;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Tamanho de fonte responsivo em pixels */
}

.apply-button:hover {
  background-color: #1C5253;
}

.clear-button {
  padding: 10px;
  background-color: #ff2833;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Tamanho de fonte responsivo em pixels */
}

.clear-button:hover {
  background-color: rgb(179, 0, 45);
}